.recipe-main{
  padding: 150px 250px;
}

.recipe-header{
  width: calc( 100% - 30px );
  background-color: #006699;
  color: white;
  padding: 10px 0 10px 30px;
  font-size: 20px;
  letter-spacing: 3px;
}

.recipe-btn{
  width: 200px;
  padding: 15px 20px;
  margin: 50px auto 0;
  background-color: #FF6928;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/*******************
マイレシピ一覧 
********************/

.recipe-lists{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recipe-list{
  width: calc(( 100% / 3 ) - 62px);
  padding: 30px;
}

/* レシピ画像 */
.recipe-image-wrap{
  height: 70%;
  width: 100%;
}

.recipe-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe-name{
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  border-top: 1px dashed;
  padding-top: 10px;
}

.recipe-calorie{
  font-size: 15px;
  text-align: center;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
}