.simple-calendar{
  width: 100%;
  background-color: #FFFFEE;
  margin-bottom: 70px
}

.calendar-heading{
  height: 80px;
}

.calender-heading-contents{
  height: 100%;
  line-height: 80px;
  display: flex;
  justify-content: center;
}

.calendar-title{
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  margin: 0 30px;
}

.change-month{
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color:#006699;
}

.simple-calendar {
  .day {}

  .wday-0 a, .wday-1 a, .wday-2 a, .wday-3 a, .wday-4 a, .wday-5 a, .wday-6 a{
    text-decoration: none;
    color: white;
    background-color: #FF0000;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
  }
  .wday-0 {color: red;}
  .wday-6 {color: blue;} 

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {}
}

.total-calories-value{
  color: black;
  font-size: 19px;
}