.calendar-heading{
  height: 50px;
}

.calender-heading-contents{
  height: 100%;
  line-height: 50px;
  display: flex;
  justify-content: center;
}

.calendar-title{
  font-size: 30px;
  font-weight: 600;
  margin: 0 30px;
}