.simple-calendar{
  width: 100%;
}

.calendar-heading{
  height: 80px;
  background-color: #E6FFE9;
}

.calender-heading-contents{
  height: 100%;
  line-height: 80px;
  display: flex;
  justify-content: center;
}

.calendar-title{
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  margin: 0 30px;
}

.change-month{
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #003300;
}

.simple-calendar {
  .day {}

  .wday-0 a, .wday-1 a, .wday-2 a, .wday-3 a, .wday-4 a, .wday-5 a, .wday-6 a{
    text-decoration: none;
  }
  .wday-0 a{color: red}
  .wday-6 a{color: blue;} 

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {}
}