.record-main{
  padding: 150px 250px;
}

.record-header{
  width: calc( 100% - 30px );
  background-color: #006699;
  color: white;
  padding: 10px 0 10px 30px;
  font-size: 20px;
  letter-spacing: 3px;
}

.record-btn{
  width: 200px;
  padding: 15px 20px;
  margin: 0 auto;
  background-color: #FF6928;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/********************
 今日の記録（ある場合）
*********************/

.todays-record-area{
  width: calc( 100vw - 500px );
  margin-bottom: 100px;
}

.todays-record{
  width: 100%;
  display: flex;
  padding: 50px 0;
  background-color: #FFFFEE;
  margin-bottom: 40px;
}

/* グラフ表示 */
.todays-record-graph{
  width: 50%;
}

/* 数値表示 */
.todays-record-data{
  width: calc( 50% - 30px );
  padding: 0 15px;
}

/* カロリー表示 */
.todays-record-calorie{
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed;
}

.todays-record-calorie__title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}

.todays-record-calorie__value{
  font-size: 33px;
  margin-bottom: 10px;
}

.calorie{
  color: #006699;
  font-weight: 600;
}

/* 栄養素表示 */
.todays-record-nutrients{
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.todays-record-nutrient{
  width: 33%;
  text-align: center;
}

.todays-record-nutrient__title{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.todays-record-nutrient__value{
  font-size: 22px;
}

.nutrient{
  color: #006699;
  font-weight: 600;
}

/***********************
 今日の記録（ない場合） 
************************/

.no-data{
  padding: 40px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  background-color: #FFFFEE;
  margin-bottom: 50px;
}