.record-show-main{
  width: calc( 100vw - 300px );
  padding: 100px 150px;
  display: flex;
}

/******************************
 グラフ表示エリア 
*******************************/

.graph-area{
  width: 50%;
  margin-right: 50px;
}

/* 円グラフ */
.pie-graph-inner{
  width: 100%;
  border: 1px solid #006699;
  padding: 50px 0;
  background-color: #FFFFEE;
}

/* 数値表示 */
.total-data-inner{
  width: calc( 100% - 20px );
  padding: 100px 10px;
  border: 1px solid #006699;
  background-color: #FFFFEE;
}

/* カロリー表示 */
.total-data-calorie{
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed;
}

.total-data-calorie__title{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}

.total-data-calorie__value{
  font-size: 33px;
  margin-bottom: 10px;
}

.calorie{
  color: #006699;
  font-weight: 600;
}

/* 栄養素表示 */
.total-data-nutrients{
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.total-data-nutrient{
  width: 33%;
  text-align: center;
}

.total-data-nutrient__title{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.total-data-nutrient__value{
  font-size: 22px;
}

.nutrient{
  color: #006699;
  font-weight: 600;
}

/******************************
 記録表示エリア
*******************************/

.meals-area{
  width: 50%;
}

/* 日付表示 */
.meal-date-inner{
  padding: 20px 20px 20px 130px;
  border: 1px solid;
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
}

.meal-date{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 5px;
}

.add-meal-btn{
  background-color: #FF6928;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.meals-category{
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px dashed;
  background-color: #FFFFEE;;
}

.meal-lists{
  flex-wrap: wrap;
  display: flex;
  margin: 10px 0;
}

.meal-list{
  border: 1px solid;
  padding: 10px;
  background-color: white;
  width: 20%;
}