.record-show-main{
  width: calc( 100vw - 300px );
  padding: 100px 150px;
  display: flex;
}

/******************************
 グラフ表示エリア 
*******************************/

.graph-area{
  width: 50%;
  margin-right: 50px;
}

/* 円グラフ */
.pie-graph-inner{
  height: calc( 400px - 100px );
  width: 100%;
  border: 1px solid;
  padding: 50px 0;
}

/* データグラフ */
.total-data-inner{
  height: 400px;
  width: 100%;
  padding: 50px 0;
  border: 1px solid;
}

.total-data{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

/******************************
 記録表示エリア
*******************************/

.meals-area{
  width: 50%;
}

/* 日付表示 */
.meal-date-inner{
  padding: 20px 20px 20px 130px;
  border: 1px solid;
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
}

.meal-date{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 5px;
}

.add-meal-btn{
  background-color: #FF9900;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.meals-category{
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px dashed;
  background-color: #FFFFEE;;
}

.meal-lists{
  flex-wrap: wrap;
  display: flex;
  margin: 10px 0;
}

.meal-list{
  border: 1px solid;
  padding: 10px;
  background-color: white;
  width: 20%;
}