.registration-main{
  height: 100vh;
  width: 100vw;
}

.registration-form{
  height: 100%;
  width: 100%;
}

.form-text-wrap{
  margin-top: 5px;
}

.form-text{
  width: 300px;
}

.input-form{
  width: 300px;
}

.session-submit{
  margin-top: 30px;
}