/*****************************************
画面共通 
******************************************/

.header-login{
  width: 100vw;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #FF6928;
  padding: 30px 0;
}

.login-main{
  width: calc( 100vw - 800px );
  padding: 100px 400px 200px;
}

.login-wrap{
  box-shadow: 0px 8px 32px rgb(0 0 0 / 12%);
  background-color: #FFFFEE;
}

.login-title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  padding: 10px;
  background-color: #006699;
  color: #FFFFEE;
}

.registration-main{
  padding: 50px 150px;
}

.form-text-wrap{
  margin-top: 10px;
}

.input-form{
  width: 100%;
}

.login-submit{
  display: block;
  text-align: center;
  padding: 5px;
  width: 35%;
  margin: 50px auto 0;
}

/* エラーメッセージによるビュー崩れ防止 */
.field_with_errors {
  display: contents;
}

